.order-management{
       margin: auto;
        padding: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-management .order-list{
        margin: auto;
        width: 100%;
        height: auto;
        padding: 2em;
        color: #e5e8ec;
        border-radius: 1em;
        background: rgb(255, 255, 255);
    }
    .order-list table {
        width: 100%;
        border-collapse: collapse;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      }
.order-management th,
.order-management td{
        padding: 14px 16px;
        font-size: 0.95rem;
        color: #1e293b;
        text-align: left;
        border-bottom: 1px solid #e2e8f0;
}
    
.order-management thead {
        background-color: #e2e8f0; /* slate-200 */
        color: #1e293b; /* slate-800 */
}
    
.order-management tr:hover {
        background-color: #f1f5f9; /* slate-100 */
        transition: background-color 0.2s ease;
}
    
.order-management td:first-child {
        font-weight: bold;
        color: #050505; /* slate-500 */
}
