.user-management {
  margin-top: 0em;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user-management .users-list{
  margin: auto;
  width: 100%;
  padding-top: 2em;
  padding: 2em;
  height: auto;
  color: #e5e8ec;
  border-radius: 1em;
  background: rgb(255, 255, 255);
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.user-management th,
.user-management td{
    flex-wrap: wrap;
    padding: 12px 15px;
    text-align: left;
    color: #050505;
    border-bottom: 1px solid #e2e8f0; /* slate-200 */
}

.user-management thead {
    background-color: #e2e8f0; /* slate-200 */
    color: #1e293b; /* slate-800 */
}

.user-management tr:hover {
    background-color: #f1f5f9; /* slate-100 */
    transition: background-color 0.2s ease;
}

.user-management td:first-child {
    font-weight: bold;
    color: #050505; /* slate-500 */
}


  
  .user-form{
    width: 100%;
    padding: 1em;
    border-radius: .6em;
    box-shadow: 0 0 10px #c0c0c0;
  }
  .user-form .form-group{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2em;
  }
  .user-form input{
    width: 50vh;
    color: #050505;
  }
  .user-form .form-group button{
    width: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: flex-end;
  }

  .user-form .form-group .add-category-btn{
    position: fixed;
    top: 14em;
    right: 12em;
    padding: .5em;
    align-items: center;
    width: 20vh;
  }
  