.review-container {
    width: auto;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff00;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .review-container .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #ffffff;
  }

    .review-container .p {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #ffffff;
        text-align:center;
        justify-content:first baseline;
    }
  
  .review-container .section {
    margin-top: 2rem;
  }
  
  .review-container .itemRow {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
  }
  
  .review-container .total {
    font-weight: 600;
    text-align: right;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #ffffff;
  }
  
  .backBtn,
  .confirmBtn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .backBtn {
    background-color: #f0f0f0;
    color: #333;
    margin-right: 1rem;
  }
  
  .backBtn:hover {
    background-color: #e2e2e2;
  }
  
  .confirmBtn {
    background: #4caf50;
    color: #fff;
    margin-right: 1rem;
  }
  
  .confirmBtn:hover {
    background-color: #45a049;
  }
  
  .confirmBtn:disabled {
    background-color: #9ccc9c;
    cursor: not-allowed;
  }
  