.hot_drinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 200;
    background: white;
    width: 100%;
    margin: 0;
    gap: 2em;
    padding: 3em 2em;
}
.drink_card{
    display: flex;
    flex-direction: column;
    color: black;

}
.drink_card.scrolled{
    opacity: 0;
    animation: moveUp 1s forwards ease-in-out;
}
.drink_card.scrolled:nth-child(1){
animation-delay: .3s;
}
.drink_card.scrolled:nth-child(2){
animation-delay: .6s;
}
.drink_card.scrolled:nth-child(3){
    animation-delay: .9s;
}
.drink_card img{
    width: 60vh;
    height: 50vh;
}