.about {
    background-color: #f9f9f9;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../assets/images/images/bg_4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .about-container {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }

  .about-hero{
    background-image: url('../assets/images/images//bg_2.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: rgb(255, 255, 255);
    padding: 8em;
    position: relative;
    animation: fallD .5s forwards ease;
  }
  .about-hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
  }
  
  .about-title {
    font-size: 36px;
    text-align: center;
    margin-top: 4em;
    z-index: 2;
  }
  
  .about-description {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 40px;
    color: #ffffff;
    z-index: 2;
  }

  .about-social{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    z-index: 2;
  }

  .about-social .social:hover{
    scale: 1.3;
    transition: all .3s ease-in-out;
  }

  .about-social .social:nth-child(1){
    color: #1746ac;
  }
  .about-social .social:nth-child(2){
    color: #ab2929;
  }
  .about-social .social:nth-child(3){
    color: #fff;
  }
  .about-social .social:nth-child(5){
    color: #fdfdfd;
  }
  
  .about-sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  .about-card{
    display: flex;
    flex-direction: row;
    background-color: #f1f1f100;
    justify-content:safe;
    text-align: justify;
    align-items: center;
    color: #ffff;
  }

  .about-card .about-card-detail{
    width: 50%;
    padding: 2em;
    line-height: 1.3em;
    font-size: 1.4rem;
  }
 .about-card-values {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f100;
    border-radius: 8px;
    padding: 3em;
    justify-content: center;
    align-items: center;
  }
  .about-card-team {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f100;
    padding: 2em;
    gap: 2em;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .about-card img{
    width: 50%;
    height: 80vh;
  }
  .about-card h2, .about-card-values h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #ffffff;
  }
  
  .about-card p,
  .about-card ul ,
  .about-card-values ul{
    font-size: 1rem;
    color: #eeeded;
  }

  .about-card-values img{
    width: 40%;
    height: 60vh;
    padding: 2em;
  }

  .about-card-values .values{
    width: 50%;
    height: 60vh;
    padding-top: 4em;
    line-height: 2rem;
    background: rgba(75, 50, 5, 0);
  }
  
  .about-card ul {
    list-style: none;
    padding-left: 20px;
  }
  .about-card-values ul{
    list-style:none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
    .about-card ul li {
        margin-bottom: 10px;
    }

    .about-card-values ul li{
      display: flex;
      flex-direction: row;
      gap: 1em;
      margin: auto;
    }
    .about-card ul li:last-child {
        margin-bottom: 0;
    }

    .why-choose-us {
      background-color: #ffffff00;
      box-shadow: 0 4px 12px rgba(0,0,0,0.05);
      display: flex;
      flex-direction: row;
      padding: 2em;
    }
    .why-choose-us img{
      width: 50%;
      height: 70vh;
    }
    .why-choose-us .content{
      width: 50%;
      text-align: start;
      padding: 2em;
      color: white;
    }
    .why-choose-us h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 2rem;
    }
    .why-choose-us ul {
      list-style: none;
      padding-left: 8em;
      display: grid;
      gap: 0.75rem;
    }
    .check-icon {
      color: #4caf50;
      margin-right: 0.5rem;
    }

@media (max-width: 898px) {
  
  .about-hero{
    padding: 1em;
    padding-top: 4.5em;
    letter-spacing: -0.08em;
  }

   .about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
  }
  .about-card .about-card-detail{
    width: 90%;
    padding: 2em;
    letter-spacing: -0.05em;
  }
 .about-card-values {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .about-card-team {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f11a;
    padding: 0em;
    margin: auto;
  }
  .about-card-team-img{
    width: 10em;
  }
  .about-card img{
    width: 40%;
    height: 40vh;
  }

   .about-card-values img{
    width: 100%;
    height: 60vh;
    padding: 2em;
  }

  .about-card-values .values{
    width: 100%;
    height: 60vh;
    padding-top: 0em;
    line-height: 2rem;
    background: rgba(75, 50, 5, 0);
  }
  
  .about-card ul {
    list-style: none;
    padding-left: 0rem;
  }
  .about-card-values ul{
    list-style:none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .about-container .why-choose-us {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
  }
  .about-container .why-choose-us .content{
    width: 100%;
    text-align: start;
    padding: 0em;
  }
  .about-container .why-choose-us ul {
    width: 90%;
    padding-left: 3em;
  }
  .about-container .why-choose-us img{
    width: 95%;
    height: 40vh;
  }
  
}
