.gifts {
    background-color: #fefaf6;
    padding: 0;
    margin: 0;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e2c1c;
    background: url(../assets/images/images/bg_4.jpg);
  }

  .gifts-hero{
    background-image: url('../assets/images/images/bg_2.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: rgb(255, 255, 255);
    padding: 8em;
  }
  .gifts-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
  }
  .gifts-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .gifts-title {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 8rem;
    color: #ffffff;
    z-index: 2;
  }
  
  .gifts-intro {
    font-size: 18px;
    margin-bottom: 50px;
    color: #f9f9f9;
    z-index: 2;
  }

  .gifts-hero .gifts-img{
    display: flex;
    flex-direction: row;
    gap: 2em;
    background: none;
  }

  .gifts-hero .gifts-img .img{
    width: 5rem;
    height: 5rem;
    z-index: 2;
    border-radius: .2rem;
  }
  
  .gift-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 4rem 2rem;
    z-index: 2;
  }
  
  .gift-card {
    background: #f5eee7;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.226);
    width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .gift-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  }
  
  .gift-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
  }
  
  .gift-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #4e342e;
  }
  
  .gift-card p {
    font-size: 15px;
    color: #6e4d38;
  }
  
  .gift-price {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #a0522d;
  }
  