.change-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/images/images/bg_4.jpg') no-repeat center center/cover;
    margin: auto;
    padding-top: 6em;
    position: relative;
    z-index: 2;
  }
  .change-password::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000005c;
    z-index: -2;
  }
  .change-password-container {
    background: linear-gradient(120deg, #f2945a2c, #62350233);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 20em;
    text-align: center;
    z-index: 5;
  }
  
  .change-password-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #50d0e1;
  }
  
  .change-password-input {
    width: 90%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    color: rgba(245, 245, 245, 0.235);
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    border: none;
    background: transparent;
  }
  
  .change-password-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4ba1b7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .change-password-button:hover {
    background-color: #3a5199;
  }
  
  .change-password-error {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.879);
    padding-top: 4em;
    padding-bottom: 12em;
    background: url(../assets/images/images/bg_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000055;
    z-index: 0;
  }
  
  .main .outer{
    position: relative;
    margin: auto;
    margin-top: 12em;
    width: 3.5em;
    height: 3.5em;
    border: .5em solid #033aa1;
    animation: rotate 3s forwards infinite ease-in-out;
    transition: animation .5s ease;
    z-index: 3;
  }

  .main .inner{
    margin: auto;
    margin-top: .6em;
    width: 1.5em;
    height: 1.5em;
    border: .5em solid #2996a0;
    animation: rotate 2s forwards infinite ease;
    transition: animation .5s easeout;
    z-index: 3;
  }

  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }100%{
      transform: rotate(360deg);
    }
  }

  