.blog-detail {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0em;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: url(../../assets/images/images/bg_4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: relative;
}
.blog-detail::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #141414ac;
    z-index: 0;
}
.blog-detail-header {
  width: 100%;
  text-align: center;
  z-index: 2;
}

.blog-detail-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #d3d3d3;
  text-transform: capitalize;
}

.blog-detail-meta {
  color: #bdbdbd;
  font-size: 0.9rem;
}

.blog-detail-image {
  width: 47%;
  height: 70vh;
  margin-top: 1rem;
  border-radius: 8px;
  margin: auto;
}
.blog-detail-body {
  padding-top: 5em;
  font-size: 1.1rem;
  letter-spacing: var(--letter-spacing);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.505);
}
.blog-detail-content{
    width: 47%;
    height: 65vh;
    color: #d3d3d3;
    margin: auto;
    text-align: justify;
    background-color: rgba(134, 73, 32, 0.824);
    border-radius: .7em;
    padding: .8em;
}
.blog-detail-content .blog-detail-dicription{
  height: 30vh;
  overflow-y: scroll;
}
.related-blogs{
  width: 40%;
  gap: 1em;
  padding-bottom: 3em;
  height: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.related-blog-card{
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.related-blog-card img{
  width: 6em;
  height: 6em;
}
.reaction-buttons button {
  margin: 4px;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.selected-reaction {
  background-color: #007bff;
  color: white;
}

.blog-detail span{
  cursor: pointer;
  color: #858585;
}
.blog-detail strong{
  color: #cf6316;
}
@media (max-width: 780px) {
  .blog-detail-body{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .blog-detail-image{
    width: 91%;
    height: 45vh;
    border-radius: 0;
  }

  .blog-detail-content{
    width: 85%;
    height: auto;
    letter-spacing: -.08em;
    border-radius: 0;
  }
}
