.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  padding-right: 60px;
  width: 100%;
}

.toggle-btn {
  position: absolute;
  right: 0;
  padding: 6px 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
