section {
  width: 100%;
}

#section-counter {
  position: relative;
  z-index: 0;
  background: url(../../assets/images/images/bg_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section-counter .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: -50;
}

.ftco-counter {
  padding: 7em;
  position: relative;
  z-index: 1;
  width: 100%;
}

@media (max-width: 1199.98px) {
  .ftco-counter {
    background-position: center center !important;
    padding: 5em 1em;
  }
}

.counter-wrap .icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.counter-wrap .icon:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  border: 1px solid #c49b63;
  z-index: 1;
  transition: all 0.3s ease;
}

.counter-wrap .icon span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: #c49b63;
  text-align: center;
}

.ftco-counter .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: auto;
  width: 100%;
  padding: 0;
}

.counter-wrap {
  flex: 1 1 8em;
  text-align: center;
}

.counter-wrap .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-wrap .text strong.number {
  font-weight: 400;
  font-size: 30px;
  color: #c49b63;
}

.counter-wrap.text span {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.text:hover .icon span,
.text:focus .icon span {
  color: #000;
}

.ftco-counter .text:hover .icon:after,
.ftco-counter .text:focus .icon:after {
  transform: rotate(135deg);
  background: #c49b63;
}

@media (max-width: 991.98px) {
  .ftco-counter .counter-wrap {
    margin-bottom: 40px !important;
  }
}

@media (max-width: 768px) {
  .ftco-counter {
    padding: 4em;
  }

  .row {
    flex-direction: column;
    gap: 2em;
  }
}

@media (max-width: 576px) {
  .counter-wrap {
    max-width: 100%;
  }

  .ftco-counter .text strong.number {
    font-size: 26px;
  }

  .ftco-counter .text span {
    font-size: 13px;
  }
}
