.slider {
  position: relative;
  margin: auto;
  width: 60vh;
  height: 100vh;
  perspective: 1000px;
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
}

.slider h1{
    margin-top: -14em;
    z-index: 3;
    font-family: 'Great Vibes', 'Gabriola', cursive;
}

.card {
  position: absolute;
  width: 16em;
  height: 50%;
  background: url(../../assets/images/images/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: .6em;
  box-shadow: 0 8px 16px rgba(35, 35, 35, 0.705);
  transition: transform 0.8s ease, opacity 0.5s;
  opacity: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

.slider::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000000b;
  z-index: 1;
}

.card img {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: .5rem;
}

.card.active {
  transform: translateX(0) scale(1);
  z-index: 3;
  opacity: 1;
}

.card.prev {
  transform: translateX(-95%) scale(0.8);
  z-index: 2;
  opacity: 0.6;
}

.card.next {
  transform: translateX(95%) scale(0.8);
  z-index: 2;
  opacity: 0.6;
}

.card.hidden {
  transform: scale(0);
  opacity: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    height: auto;
  }

  .card.prev,
  .card.next {
    display: none;
  }
}
@media (max-width: 420px) {
  .slider {
    height: 100vh;
    padding: 0em;
  }
  .card {
    width: 90%;
    height: auto;
    border-radius: .2em;
  }

  .card.prev,
  .card.next {
    display: none;
  }
}