.blog-management {
  margin-top: 2em;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  .blog-management  .tab-container {
    margin-bottom: 1rem;
  }

  .blog-management h1{
    color: #000;
  }
  
  .blog-management  .tab-container button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .blog-management  .tab-container .active {
    background-color: #007bff;
    color: white;
  }
  
  
  
 
  
  .blog-management .blog-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }
  
  .blog-management .blog-table th,
  .blog-management .blog-table td {
    padding: 14px 16px;
    font-size: 0.95rem;
    color: #1e293b;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
  }
  
  .blog-management .blog-table th {
    background-color: #f1f5f9;
    color: #334155;
    font-weight: 600;
    text-align: left;
    padding: 14px 16px;
    font-size: 0.95rem;
  }
  
  .blog-management .btn-edit, .blog-management .btn-delete {
    margin-right: 8px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
  }
  
  .blog-management .btn-edit {
    background-color: #007bff;
    color: white;
  }
  
  .blog-management .btn-delete {
    background-color: #dc3545;
    color: white;
  }
  
  .blog-management .pagination {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .blog-management .pagination button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
  }
  
  .blog-management .pagination .active {
    background: #007bff;
    color: white;
    font-weight: bold;
  }
  
    @media screen and (max-width: 768px) {
    .blog-management {
      margin-top: 2em;
      padding: 0rem;
    }
      
  .blog-management  .tab-container {
    margin-bottom: 1rem;
  }

    
  }