name: Deploy Django to Render

on:
  push:
    branches: [main]
    paths:
      - 'backend/**'

      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy Hook
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}

