.shop{
    background-color: #f9f9f9;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../../assets/images/images/bg_4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.shop .container{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

 .shop-hero{
    background-image: url('../../assets/images/images//bg_2.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: rgb(255, 255, 255);
    padding: 8em;
    position: relative;
  }
  .shop-hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
  }

.shop .product-grid{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    padding: 3em;
    z-index: 10000;
    margin: auto;
    flex-wrap: wrap;
}
.shop .container .product-grid{
  display: flex;
  flex-direction: row;
  z-index: 2000;
  text-align: center;
}
.shop .product-card{
    display: flex;
    flex-direction: column;
    gap: -1.5em;
    z-index: 2000;
    cursor: pointer;
    position: relative;
    width: 35vh;
    line-height: 1em;
    text-align: center;
    background: #edecec;
    color: #000;
}
.shop .product-card h3{
  font-size: .9em;
  display: flex;
  z-index: 2000;
  line-height: 1em;
  margin-bottom: -.2em;
  align-self: center;
}
.shop h1{
  z-index: 9999;
}
.shop .shop-subtitle{
  text-align: justify;
}
.shop .cart-footer{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
.cart-footer .cart-link{
  display: flex;
  flex-direction: column;
}
.shop .product-card img{
    width: 100%;
    height: 32vh;
    object-fit: cover;
}

.shop .product-card button .loading-dots {
    display: inline-block;
    animation: blink 1s infinite;
    color: #fff;
  }

.shop .container .item-add, .error-banner{
  color: #148a26;
  z-index: 9999;
  padding-bottom: 1em;

}
  
  /* Animation for the loading effect */
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
  }

  .shop .product-card button {
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .shop .product-card .viewCart{
    font-size: .8em;
    width: 10em;
    border-radius: .6em;
    align-self: center;
    margin-bottom: .5em;
    background: none;
    color: #000;
    border: 1px solid #2d7b81;
  }
  .shop .product-card .viewCart:hover{
    background: #2d7b81;
    color: #ffffff;
    border: 1px solid #2d7b81;
  }
  .shop .product-card .addCart {
    background-color: #714b1c;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .shop .product-card button:hover {
    box-shadow: 0 0 8px #ffffffa2;
}
  
  .shop .product-card button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
@media (max-width: 798px) {
  .shop{
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .shop{
    height: auto;
  }
  .shop .container{
      width: 100%;
      padding-top: 4em;
      border-radius: 10px;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
 .shop-hero{
    background-image: url('../../assets/images/images//bg_2.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: rgb(255, 255, 255);
    padding: 2em;
    position: relative;
  }
  .shop .product-grid{
    display: flex;
    text-align: center;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    margin-left: 25vh;
    padding-left: 3em;
    z-index: 10000;
    margin: auto;
    flex-wrap: wrap;
  }
  .shop .product-grid .product-card{
    width: 100%;
  }
}