.single-product{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 3;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 4.2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    justify-content: center;
    text-align: center;
    background: url('../../assets/images/cup-coffee-placed-table-some-scattered-coffee-beans-with-sheet-music-background_1_AUIWRs2.jpg') no-repeat center center/cover;
}
.single-product::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14100cef;
    z-index: -2;
}
.single-product .product-grid{
    background: white;
}
.single-product .product-grid .product-card{
    display: flex;
    flex-direction: row;
    gap: 2em;
    color: black;
    background-color: antiquewhite;
}
.single-product .product-grid .product-card .description{
    padding: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.single-product .product-grid .product-card img{
    width: 60vh;
    height: 50vh;
}