.single-product{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 2em;
    justify-content: center;
    background: url('../../assets/images/images/bg_4.jpg') no-repeat center center/cover;
}
.single-product::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14100c7a;
    z-index: -2;
}
.single-product .single-product-header{
    width: 100%;
    background: rgba(133, 28, 14, 0.45);
    padding: 0em;
    margin-top: 4.5em;
    color: white;
}
.single-product .product-grid{
    background: white;
}
.single-product .product-grid .product-card{
    display: flex;
    flex-direction: row;
    gap: 0em;
    color: black;
    background-color: antiquewhite;
}
.single-product .product-grid .product-card .description{
    padding: 2em;
    align-items: start;
    justify-content: start;
    text-align: start;
    display: flex;
    flex-direction: column;
}
.single-product .product-grid .product-card img{
    width: 60vh;
    height: 60vh;
}
